---
import { URL_BASE } from "@/config";
import Layout from "@/layouts/Layout.astro";
import GameApp from "@/components/GameApp.astro";
---

<Layout>
  <div
    id="game-bg"
    class="min-h-screen bg-right lg:bg-center bg-cover transition-[background-image] duration-500"
    style={`background-image: url(${URL_BASE}/images/bg_home.webp);`}
  >
    <div class="min-h-screen flex-1 flex flex-col max-w-6xl mx-auto">
      <GameApp />
    </div>
  </div>
</Layout>
